*{
    margin: 0;
    padding: 0;
}
/* body{
    height: 1000px;
} */
/* header */
header{
    position: sticky;
    top: 0px;
}
.container{
    width: 100vw;
    background-color: #B48855;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 5px 0.5px grey;
}
.logo{
    margin-left: 20px;
    height: 70px;
    width: 20%; 
    /* background-color: red; */
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
    color: white;
}

.navi{
    height: 70px;
    /* width: 100vw; */
 } 
.navbar ul{
    display: flex;
      
}
.navbar li{
    list-style-type: none;
    margin-right: 25px;
  

}
.navbar li a{
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    color: white;
    padding: 10px;
    font-size:1.5rem ;
    
}
.navbar li a:hover{
    text-decoration:underline ;
}

/* SECTION */

.video-section{
    height: 88vh;
    width: 99.7vw;
    /* border:2px solid red; */
    margin-top: 10px;  
    display: flex; 
    justify-content:space-evenly;
    align-items: center;

    
}
.box1{
    border: 1px solid black;
    width: 40%;
    height: 500px;
    display: flex; 
    justify-content:center;
    align-items: center;
    box-shadow: 3px 3px 1px grey;
}
.box2{
    /* border: 2px solid black; */
    width: 43%;
    height: 500px;
    display: flex; 
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.h1-section{
    text-align: center;
    font-weight: bolder;
    
   
}
.h1-box2{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px grey;
}
.p-box2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.btn{
    font-size: 1.5rem;
  
    /* font-weight: bold; */
    padding: 0px 20px;
    /* margin-left: 26px; */
    margin-top: 50px;
    border-radius: 10px;
    /* border: none; */
    cursor: pointer;
  
    transition: 0.1s;
}

.btn:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 3px 1px grey;
}