*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Comfortaa', cursive;
}

/* HEADER */
header{
    position: sticky;
    top: 0px;
}
.container-navbar{
    width: 100%;
    background-color: #B48855;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.logo{
    margin-left: 20px;
    height: 70px;
    width: 20%; 
    /* background-color: red; */
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
    color: white;
}

.navi{
    height: 70px;
    /* width: 100vw; */
 } 
.navbar ul{
    display: flex;
      
}
.navbar li{
    list-style-type: none;
    margin-right: 25px;
  

}
.navbar li a{
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    color: white;
    padding: 10px;
    font-size:1.5rem ;
}
.navbar li a:hover{
    /* text-decoration:underline ; */
    border-bottom: 1.7px solid rgb(231, 228, 228);
}


.h1-header{
    text-align: center;
    font-size: 3rem;
    text-shadow:1px 1px 1px grey;
}

/* SECTION  */
.h1-header{
    margin-top: 40px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 70px;

}
.box{
display: flex;
flex-direction: column;
transition-property: all ;
transition-duration: 0.5s;

/* align-items: center; */
}
.box:hover{
    transform: scale(1.1);
}
.box1{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin:10px
}
img{
    height: 200px;
    width: 200px;
}
.h1-box{
    text-align: left;
    font-size: 1.3rem;
    margin-left: 10px;
}
.p-box{
    text-align: left;
    line-height: 2em;
    font-size: 1.3rem;
    margin-left: 10px;
    
}

/* footer */
.back{
    width: 100vw;
    height: 60px;
    background-color: #ffebd4;
    text-align: center;
    line-height: 60px;
}
.back a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.contact{
    width:100vw;
    height:400px;
    background-color: #B48855;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.assist{
    /* border: 2px solid red; */
    height: 350px;
    width: 40%;
}

.h2-contact{
    /* text-align: center; */
    color: white;
    text-shadow: 1px 1px 1px grey;
}
.para1{
    margin-top: 40px;
}
.p-contact{
    margin-top: 15px;
}
#customer{
    color: white;
    font-weight: bold;

}
#other{
    color: white;
    font-weight: bold;

}
i{
    font-size: 40px;
}
.details{
    /* font-weight: bold; */
    font-size: 1.2rem;
}

/* SOCIAL  */

.social{
    /* border: 2px solid green; */
    height: 350px;
    width: 40%;
}


.h2-social{
    color: white;
    text-shadow: 1px 1px 1px grey;
}
.para2 a{
    text-decoration: none;
    color: black;
}
.para2 a:hover{
    border-bottom:2px solid black;
}
.para2{
    margin-top: 40px;
}
.p-social{
    margin-top: 15px;
}