*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Comfortaa', cursive;
}

/* FOOTER  */


/* BACK TO TOP  */
.back{
    width: 100vw;
    height: 60px;
    background-color: #ffebd4;
    text-align: center;
    line-height: 60px;
}
.back a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}






/* CONTACT  */

.contact{
    width:100vw;
    height:400px;
    background-color: #B48855;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.assist{
    /* border: 2px solid red; */
    height: 350px;
    width: 40%;
}

.h2-contact{
    /* text-align: center; */
    color: white;
    text-shadow: 1px 1px 1px grey;
}
.para1{
    margin-top: 40px;
}
.p-contact{
    margin-top: 15px;
}
#customer{
    color: white;
    font-weight: bold;

}
#other{
    color: white;
    font-weight: bold;

}
i{
    font-size: 40px;
}
.details{
    /* font-weight: bold; */
    font-size: 1.2rem;
}




/* SOCIAL  */

.social{
    /* border: 2px solid green; */
    height: 350px;
    width: 40%;
}


.h2-social{
    color: white;
    text-shadow: 1px 1px 1px grey;
}
.para2 a{
    text-decoration: none;
    color: black;
}
.para2 a:hover{
    border-bottom:2px solid black;
}
.para2{
    margin-top: 40px;
}
.p-social{
    margin-top: 15px;
}